/* Top-right buttons */
.top-right-buttons {
  position: fixed;
  top: 10px;
  right: 10px;  font-family: "Kode Mono", serif;
  display: flex;
  gap: 10px;
}
p{ color: #521E11!important;}
.button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  color: white;
  text-decoration: none;
  font-size: 14px;text-transform: uppercase;
  cursor: pointer;  font-family: "Kode Mono", serif;
}

div.title{font-size: 3vw;}

div.content{text-align: center;}
body {
  font-family: "Kode Mono", serif;
  background: #fff;
  margin: 0;
}
.citation {color:#521E11;
  display: flex;justify-content: space-between;
  margin-bottom: 3rem;
  padding: 10px;
}
.citation-title {
  font-size: 1em;
}
.citation-details {
  font-size: 1em;
  color: #521E11;
}
a {
  color: #521E11;
  text-decoration: none;
  text-transform:capitalize;
}
#pagination-controls {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

#filter-controls {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#year-filter {
  padding: 5px;
  font-size: 1em;
}
/* Modal styles */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: white;
 
  padding: 20px;
 
  border-radius: 5px;
}
#background-video {
  width: 100vw; /* Adjust to your desired size */
  height: 100vh;
  display: block;
  margin: 0 auto;
  object-fit: cover;
  z-index: -1; /* Position behind other content if required */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: black;
}
